* {
    box-sizing: border-box;
 
}
#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.navbar a {
    padding: 20px;
    
}
body {
    margin: 0;
}