* {
    box-sizing: border-box;
 
}
#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 80%;
    font-size: 30px;
}
.navbar a {
    text-align: center;
    padding: 40px;
    text-align: center;
    color: white;
    
}
.sidebar {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 80%;
    overflow: auto;
    padding-top: 40px;
    margin-top: 45px;
    text-align: center;
}
.sidebar a {
    padding: 20px;
    padding-bottom: 15px;
    text-decoration: none;
    text-align: center;
    overflow: auto;
    font-size: 30px;
    color: white;
    display: block;
}
.cityhead {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;

}
body {
    margin: 0;
    margin-right: 520px;
    margin-left: 30px;
    padding-top: 200px;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: 0px 0px 6px black;

}
h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 120px;
}
h2 {
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.column {
    column-count: 2;
    word-wrap: normal;
}
